body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
  width: 100%;
}

#textInput {
  width: 50%;
  border-radius: 25px;
}


#showCities {
  margin-top: 10%;
  margin-left: auto;
  margin-right: 66%;
}

.card-body {
  margin-right: -200%;
  background-color: rgb(230, 247, 255) !important;
}

.bg {
  background-image: url('./photo/sunny-photo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3%;
  height: 100vh;
  
}

#temp {
  text-align: center;
  position: absolute;
  right: 45%;
  font-size: 30px;
}

#humidity {
  text-align: right;
  position: absolute;
  right: 2%;
}

#wind {
  text-align: right;
  position: absolute;
  right: 2%;
  bottom: 30%;
}

.onePageCardBody {
  margin: 0;
  background-color: aliceblue !important;
}

.oneBg {
  background-image: url('./photo/clouds.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#text {
  color: aliceblue;
}


#pressure {
    text-align: right;
    position: absolute;
    left: 70%;
    top: 10%;
}

#hum {
    text-align: right;
    position: absolute;
    left: 70%;
    top: 29%;
}

#onePageWind {
    text-align: right;
    position: absolute;
    left: 70%;
    top: 48%;
}

.card-img {
  width: 7% !important;
  position: absolute;
  left: 45%;
  top: 10%
}

.main {
  position: absolute;
  left: 46%;
  top: 55%;
}

/* for smaller devices */

@media only screen and (min-width: 600px) {

  .bg {
    height: 100vh;
  }

  #textInput {
    width: 100%;
  }
  

  .card-body {
    margin-left: -30%;
    margin-right: -252%;
  }
  
  #temp {
    right: 43%;
    font-size: 20px;
  }

  .onePageCardBody {
    margin: 0;
  }

  .card-img {
    left: 46%;
    width: 15%;
  }

  .main {
    left: 47%;
  }


}

@media only screen and (max-width: 600px) {
  .bg {
    height: 100vh;
  }

  #textInput {
    width: 100%;
  }

  #showCities {
    margin-top: 10%;
    margin-left: auto;
    margin-right: 60%;
  }

  .card-body {
    margin-left: 6%;
    margin-right: -142%;
    padding: 10px !important;
    margin-top: 2%;
  }

  #temp {
    right: 45%;
    top: 28%;
    font-size: 18px;
  }

  .onePageCardBody {
    margin: 0;
  }

  .card-img {
    left: 81%;
    width: 15%;
  }

  .main {
    left: 78%;
  }

  #hum {
    display: none;
  }

  #onePageWind {
    display: none;
  }

  #pressure {
    display: none;
  }

}

